#headr{
    width:1200px;
    height: 300px;
    background-image: url(programing.jpg);
    color:white;
}
.gallery
{
    float:right;
    
}
.footer
{
    width: 1200px;
    margin: auto;
    
}
.menu1{
    background-color: gray; 
}
.menu1 ul 
{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: gray; 
}
.menu1 ul 
{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    
}
.menu1 ul li
{
display:inline-block;
margin:0 50px;
text-decoration: none;
padding:15px 0;  
font-size: 18px;
}

.menu1 ul li
{
display:inline-block;
margin:0 50px;
text-decoration: none;
padding:15px 0;  
font-size: 18px;
}
.menu2
{
   float:left;
}